header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 0.5rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* ----------------------------------------Header Left Section------------------------------------ */
.headerLeftSection {
  flex: 1;
  margin: 0.4rem 0 0 0.8rem;
  display: flex;
}

#linkedinIcon {
  width: 2.15rem;
  height: 2.15rem;
  cursor: pointer;
}

#searchInput {
  height: 2.2rem;
  width: 21.8rem;
  margin-left: 0.3rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #edf3f8;
  padding: 0 2.8rem 0 2.8rem;
  font-family: "Montserrat", serif;
  font-size: 1rem;
}
#searchInput:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 0 0;
}

.dropDownList {
  list-style: none;
  width: inherit;
  margin: 0 0 0 0.3rem;
  border-radius: 0 0 3px 3px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.dropDownList li {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 0 0;
  margin-left: -1rem;
}
.dropDownList li:hover {
  color: #0a66c2;
}
.dropDownList li:last-child {
  margin-bottom: 1rem;
}

.searchedUserImg {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

#searchIcon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  margin: 0.6rem 0 0 3.4rem;
}

.crossIcon {
  width: 1rem;
  height: 1rem;
  margin: 0.6rem 0 0 -2rem;
  cursor: pointer;
  filter: opacity(0.6);
}

.displayNone {
  display: none;
}

/* ----------------------------------------Header Right Section------------------------------------ */
.headerRightSection {
  display: flex;
  align-items: center;
}

.navLinks,
.currentUser {
  margin-left: 1.5rem;
  font-weight: 450;
  font-size: 0.9rem;
  cursor: pointer;
  filter: opacity(0.6);
  color: black;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
}

.rightIconsDiv,
.profilePicDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightIcons {
  width: 1.2rem;
  height: 1.2rem;
}

.navLinks:hover {
  filter: opacity(1);
}

.profilePic {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
.currentUser {
  margin-right: 0.8rem;
  filter: opacity(1);
}

.downArrow {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.me {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: opacity(0.6);
}

.me:hover {
  filter: opacity(1);
}
